@model CarComponent

<div>
    <h2 align="center">@Model.Name</h2>
    <h2 align="center">Тип комплектующего: @Model.Type</h2>
    <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath" />
    </div>
</div>
<div>
    <h3 align="center">Марка: @Model.Mark</h3>
    <h3 align="center">Модель: @Model.Model</h3>
    <h3 align="center">Цена: @Model.Price ($)</h3>
    <h4 align="center">Описание: @Html.Raw(Model.Description)</h4>
</div>
